# required for icon direct
rewrite ^\/(.*)\.php\/(.*)[\/]?$ $1.php?$2;
 
rewrite ^\/action\/([A-Za-z\_\-\/]+)$ engine/handlers/action_handler.php?action=$1 last;
rewrite ^\/actions\/([A-Za-z\_\-\/]+)$ engine/handlers/action_handler.php?action=$1 last;
 
rewrite ^\/export\/([A-Za-z]+)\/([0-9]+)$ services/export/handler.php?view=$1&guid=$2 last;
rewrite ^\/export\/([A-Za-z]+)\/([0-9]+)\/$ services/export/handler.php?view=$1&guid=$2 last;
rewrite ^\/export\/([A-Za-z]+)\/([0-9]+)\/([A-Za-z]+)\/([A-Za-z0-9\_]+)\/$ services/export/handler.php?view=$1&guid=$2&type=$3&idname=$4 last;
 
rewrite ^\/\_css\/css\.css$ _css/css.php last;
 
rewrite ^\/pg\/([A-Za-z0-9\_\-]+)\/(.*)$ engine/handlers/pagehandler.php?handler=$1&page=$2 last;
rewrite ^\/pg\/([A-Za-z0-9\_\-]+)$ engine/handlers/pagehandler.php?handler=$1 last;
 
rewrite xml-rpc.php engine/handlers/xml-rpc_handler.php last;
rewrite mt/mt-xmlrpc.cgi engine/handlers/xml-rpc_handler.php last;
 
rewrite ^\/tag/(.*)[\/]?$ engine/handlers/pagehandler.php?handler=search&page=$1 last;